@charset "UTF-8";

footer {
    display: flex;
    flex-direction:row ;
    justify-content: space-between;
    height: 72px;
    align-items: center;
    padding: 25px;
    gap: 10px;
}

.Termos {
    display: flex;
    flex-direction: column;
}