@charset "UTF-8";

header {
    background-color: var(--skeleton-color);
    display: flex;
    justify-content: center;
    

}

.header {
    width: 1100px;
    min-height: 240px;
    display: flex;
    flex-direction: row;
    justify-content: center ;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 200px;
}

.esquerda {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 435px;
    align-items: center;
    
}

header p {
    font-size: 12px;
    max-width: 500px;
}

.descriçao {
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 10px;

}

aside a {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-decoration: none;
    color: var(--text-color-secondary);
    
}

aside div {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

div.foto-perfil img {
    scale: 0.8;
}
