@charset "UTF-8";

main {
    display: flex;
    justify-content: center;
    padding: 25px;
}
section {
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 1100px;
    
}

section img{
    max-width: 227px;
    max-height: 227px;
    border-radius: 3px;
}

